

// Cores
$bg-color: #f5f6fa;
$header-bg-color: #182C61;
$text-color: #fff;
$product-btn-color: #44bd32;
$product-btn-hover: #4cd137;

// Tamanhos
$container-max-width: 1024px;
$container-padding: 16px;
$product-border-radius: 16px;
$product-btn-radius: 8px;

