@use '../config/variables';
@use '../config/mixins';

header {
background-color: variables.$header-bg-color;
position: sticky;
top: 0;
left: 0;

.container {
    @include mixins.flex-center; // Use o prefixo do módulo
    justify-content: space-between;
    padding: variables.$container-padding 0;
}

.menu {
    display: flex;

    li {
    font-weight: bold;
    margin-left: 24px;

    a {
        color: variables.$text-color;
        text-decoration: none;
    }
    }
}
}


