@font-family: 'Roboto', sans-serif;
@primary-color: #182C61;
@secondary-color: #44bd32;
@hover-color: lighten(@secondary-color, 10%);
@background-color: #f5f6fa;

@media-breakpoints: {
    large: 1024px;
    medium: 767px;
};
